@model Mvc02.Models.ViewModels.ContactUsVm

<h2>Thank you for your feedback!</h2>
</br>
<h4>
    We will contact you within a couple of days!

</h4>
</br>

<li><a asp-controller="Home" asp-action="Index">Back to home page</a></li>
