@model Mvc02.Models.ViewModels.ContactUsVm



<hr />
<h2>Contact us</h2>
<h3>@ViewData["Message"]</h3>


<form asp-action="Confirmation">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Question" class="control-label"></label>
        <input asp-for="Question" class="form-control" />
        <span asp-validation-for="Question" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-default" />
    </div>

</form>

