@{
    ViewData["Title"] = "About";
}


        <h4>Job openings</h4>    
        <br /><br />

        <button class="btn" type="button">Junior C#.NET developer <br /> Salary: 10$ /year <br /> Required 10 years of .Net experience</button> <br /><br />
        <button class="btn btn-danger" type="button">Senior C#.NET developer <br /> Salary: 1.000.000$ /year <br /> Required 12 weeks of .Net experience</button><br /><br />
        <button class="btn btn-primary" type="button">Java developer <br /> Salary: 100$ /year <br /> Required 5 years of Java & Phyton experience</button><br /><br />
        <button class="btn btn-success" type="button">Junior C#.NET developer <br /> Salary: 100$ /year <br /> Required 10 years of .Net experience</button><br /><br />


