@model IEnumerable<Mvc02.Models.ViewModels.UserTableVm>

@{
    ViewData["Title"] = "Index";
}

<h2>User Overview</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                UserName
            </th>
            <th>
                Email
            </th>
            <th>
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rows)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.)*@
                </td>
                <td>
                </td>
                <td>



                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="">Edit</a> |
                    <a asp-action="Details" asp-route-id="">Details</a> |
                    <a asp-action="Delete" asp-route-id="">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>